<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/template" id="action-form-template">
            <form class="form-inline" id="gs-select-form">
                <div class="form-group">
                    <select class="form-control" id="gs-select-location">
                        <option value="" disabled selected>Location</option>
                    </select>
                    <select class="form-control" id="gs-select-covar" multiple="multiple"></select>
                    <div class="gs-display-inline">
                        <button class="btn btn-primary gs-spinner-text" type="submit">Run</button>
                    </div>
                </div>
            </form>

            <div id="similarities-summary"></div>
        </script>

        <script type="text/template" id="similarities-summary-template">
            <% if (_.isEmpty(similarMsas)) { %>
            <span style="margin-bottom:10px;display:block;">No similarity data found</span>
            <% } else { %>
            <span>Similar to <%= msa %>:</span>
            <ul>
                <% _.forEach(similarMsas, function(msa) { %>
                <li><%- msa %></li>
                <% }); %>
            </ul>
            <% } %>
        </script>

        <script type="text/template" id="ts-analysis-overlay-template">
            <div id="ts-analysis-overlay-options">
                <select id="ts-analysis-grouping">
                    <option value="monthly" <% if (selected && selected === 'monthly') { print('selected'); } %>>Monthly</option>
                    <option value="weekly" <% if (selected && selected === 'weekly') { print('selected'); } %>>Weekly</option>
                    <option value="daily" <% if (selected && selected === 'daily') { print('selected'); } %>>Daily</option>
                </select>
                <input type="text" name="daterangepicker" />
            </div>
        </script>

        <script type="text/javascript" src="../src/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../src/bower_components/lodash/lodash.js"></script>
        <script type="text/javascript" src="../src/bower_components/backbone/backbone.js"></script>
        <script type="text/javascript" src="../src/js/geo.ext.min.js"></script>
        <script type="text/javascript" src="../src/js/geo.js"></script>
        <script src="../src/js/jquery-ui-1.11.3.custom/jquery-ui.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
        <script src="../src/js/jquery.geocomplete.min.js"></script>
        <script src="../src/js/bootstrap.min.js"></script>
        <script charset="UTF-8" type="text/javascript" src="../src/bower_components/d3/d3.js"></script>
        <script src="../src/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        <script src="utils.js"></script>
        <script type="text/javascript" src="models/MsaModel.js"></script>
        <script type="text/javascript" src="models/TsAnalysisModel.js"></script>
        <script type="text/javascript" src="collections/MsaCollection.js"></script>
        <script type="text/javascript" src="views/FormView.js"></script>
        <script type="text/javascript" src="views/MapView.js"></script>
        <script type="text/javascript" src="views/MsaView.js"></script>
        <script type="text/javascript" src="views/TsAnalysisView.js"></script>
        <script src="tempus.js"></script>


        <link rel="stylesheet" href="../src/css/bootstrap.min.css">
        <link rel="stylesheet" href="../src/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css"/>
        <link rel="stylesheet" href="../src/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="../src/main.css">

        <script type="text/javascript" src="../src/bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="../src/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="../src/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <div id="action-form" class="gs-selection"></div>
        <div id="map"></div>
        <div id="ts-analysis-overlay"></div>
    </body>
</html>
