html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.gs-selection {
    z-index: 1;
    position: fixed;
    padding: 15px;
    padding-bottom: 0px;
}

.gs-select-location {
    display:block;
    margin-bottom:5px;
}

a {
    color: lightgray;
}

.gs-display-inline {
    display: inline;
}

#analyses-tabs {
    padding: 0px;
    margin: 10px;
    opacity: .9;
}

#tabs-container {
    width: 465px;
}

#ts-analysis-overlay {
    position:absolute;
    top:313px;
    left:8px;
    background-color: #ffffff;
    z-index: 999;
    opacity: .9;
    border: 2px solid #4d4d4d;
    padding: 5px;
    border-radius:4px;
    display: none;
}

#dd-analysis-overlay {
    position:absolute;
    top:663px;
    left:8px;
    background-color: #ffffff;
    z-index: 999;
    opacity: .9;
    border: 2px solid #4d4d4d;
    padding: 5px;
    border-radius:4px;
    display: none;
}


.ui-draggable {
    cursor: pointer;
}
#ts-analysis-overlay .axis path,
#ts-analysis-overlay .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#ts-analysis-overlay .line {
    fill: none;
    stroke: #d62728;
    stroke-width: 3px;
}

#ts-analysis-overlay .line.comp {
    stroke: #ff7f0e;
}

#ts-analysis-overlay .point {
    fill: #d62728;
    stroke: #d62728;
}

#ts-analysis-overlay .point.comp {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}

#ts-analysis-overlay-options {
    position: absolute;
    left: 355px;
    padding:10px;
}

#ts-analysis-grouping {
    float: right;
    margin-bottom: 5px;
}

#dd-analysis-overlay-options {
    margin-left: 50px;
}

.action-form {
    background-color: #fff;
}

#similarities-summary {
    margin-top: 15px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
